#System clock (40MHz from Clock Board)
NET clk_1_sys_clk LOC=AN20  |  IOSTANDARD = LVTTL;
NET clk_1_sys_clk TNM_NET = sys_clk;
TIMESPEC TS_sys_clk = PERIOD sys_clk 40000 kHz;

#System reset ("down" push button)
NET rst_1_sys_rst LOC=M21  |  IOSTANDARD = LVCMOS25;
NET rst_1_sys_rst TIG;

NET debughdr<0> LOC = L20 | IOSTANDARD = LVTTL; #pin 0
NET debughdr<1> LOC = J21 | IOSTANDARD = LVTTL; #pin 1

NET debug_sw_gpio<0> LOC = G20  | IOSTANDARD = LVTTL; #pin 2
NET debug_sw_gpio<1> LOC = J20  | IOSTANDARD = LVTTL; #pin 3

# NOTE:  As of WARPLab 7.5.0, pins 4 - 7 are used as duplicate trigger_out[3:0] ports.  To change 
#     them back to software GPIO pins, please uncomment the following lines and comment out the 
#     first set of trigger_out pins.
#
# NET debug_sw_gpio<2> LOC = K21   | IOSTANDARD = LVTTL; #pin 4
# NET debug_sw_gpio<3> LOC = F20  | IOSTANDARD = LVTTL; #pin 5
# NET debug_sw_gpio<4> LOC = H20  | IOSTANDARD = LVTTL; #pin 6
# NET debug_sw_gpio<5> LOC = L21  | IOSTANDARD = LVTTL; #pin 7

NET trigger_1_out<0> LOC = K21   | IOSTANDARD = LVTTL; #pin 4
NET trigger_1_out<1> LOC = F20  | IOSTANDARD = LVTTL; #pin 5
NET trigger_1_out<2> LOC = H20  | IOSTANDARD = LVTTL; #pin 6
NET trigger_1_out<3> LOC = L21  | IOSTANDARD = LVTTL; #pin 7

Net trigger_0_out<0> LOC = H18 | IOSTANDARD = LVTTL; #pin 8
Net trigger_0_out<1> LOC = H19 | IOSTANDARD = LVTTL; #pin 9
Net trigger_0_out<2> LOC = K19 | IOSTANDARD = LVTTL; #pin 10
Net trigger_0_out<3> LOC = G18 | IOSTANDARD = LVTTL; #pin 11

Net trigger_in<0> LOC = F19 | IOSTANDARD = LVTTL | PULLDOWN; #pin 12
Net trigger_in<1> LOC = L19 | IOSTANDARD = LVTTL | PULLDOWN; #pin 13
Net trigger_in<2> LOC = J19 | IOSTANDARD = LVTTL | PULLDOWN; #pin 14
Net trigger_in<3> LOC = F18 | IOSTANDARD = LVTTL | PULLDOWN; #pin 15

NET UserIO_LEDs<0> LOC=N24  |  IOSTANDARD = LVCMOS25;
NET UserIO_LEDs<1> LOC=N20  |  IOSTANDARD = LVCMOS25;
NET UserIO_LEDs<2> LOC=L18  |  IOSTANDARD = LVCMOS25;
NET UserIO_LEDs<3> LOC=N18  |  IOSTANDARD = LVCMOS25;
NET UserIO_LEDs<4> LOC=M18  |  IOSTANDARD = LVCMOS25;
NET UserIO_LEDs<5> LOC=M25  |  IOSTANDARD = LVCMOS25;
NET UserIO_LEDs<6> LOC=N19  |  IOSTANDARD = LVCMOS25;
NET UserIO_LEDs<7> LOC=P19  |  IOSTANDARD = LVCMOS25;
NET UserIO_IOEx_SDA LOC=AL18  |  IOSTANDARD = LVTTL;
NET UserIO_IOEx_SCL LOC=AK17  |  IOSTANDARD = LVTTL;
NET UserIO_PB<0> LOC=N23  |  IOSTANDARD = LVCMOS25;
NET UserIO_PB<1> LOC=N22  |  IOSTANDARD = LVCMOS25;
NET UserIO_PB<2> LOC=M23  |  IOSTANDARD = LVCMOS25;
NET UserIO_PB<3> LOC=L23  |  IOSTANDARD = LVCMOS25;
NET UserIO_DIPSW<0> LOC=M17  |  IOSTANDARD = LVCMOS25;
NET UserIO_DIPSW<1> LOC=R18  |  IOSTANDARD = LVCMOS25;
NET UserIO_DIPSW<2> LOC=P17  |  IOSTANDARD = LVCMOS25;
NET UserIO_DIPSW<3> LOC=M16  |  IOSTANDARD = LVCMOS25;
NET rs232_db9_RX LOC=L24  |  IOSTANDARD = LVCMOS25;
NET rs232_db9_TX LOC=K24  |  IOSTANDARD = LVCMOS25;
NET rs232_usb_RX LOC=C23  |  IOSTANDARD = LVTTL;
NET rs232_usb_TX LOC=AA23  |  IOSTANDARD = LVTTL;

#Ethernet
NET ETH_TemacPhy_RST_n LOC = C17  |  TIG  |  IOSTANDARD = LVCMOS25;
NET ETH_MII_TX_CLK LOC = G22  |  PERIOD = 40 ns  |  MAXSKEW= 1.0 ns  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_TXD<7> LOC = K16  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_TXD<6> LOC = H17  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_TXD<5> LOC = J17  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_TXD<4> LOC = J16  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_TXD<3> LOC = G15  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_TXD<2> LOC = K17  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_TXD<1> LOC = E17  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_TXD<0> LOC = D17  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_TX_EN LOC = C18  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_TX_ER LOC = K18  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_TX_CLK LOC = F21  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_RXD<7> LOC = G21  |  IOBDELAY=NONE  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_RXD<6> LOC = E23  |  IOBDELAY=NONE  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_RXD<5> LOC = G23  |  IOBDELAY=NONE  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_RXD<4> LOC = J24  |  IOBDELAY=NONE  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_RXD<3> LOC = H22  |  IOBDELAY=NONE  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_RXD<2> LOC = E22  |  IOBDELAY=NONE  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_RXD<1> LOC = E21  |  IOBDELAY=NONE  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_RXD<0> LOC = K23  |  IOBDELAY=NONE  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_RX_DV LOC = H23  |  IOBDELAY=NONE  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_RX_ER LOC = F23  |  IOBDELAY=NONE  |  IOSTANDARD = LVCMOS25;
NET ETH_GMII_RX_CLK LOC = J22  |  IOSTANDARD = LVCMOS25;
NET ETH_MDC LOC = H15  |  IOSTANDARD = LVCMOS25;
NET ETH_MDIO LOC = L16  |  IOSTANDARD = LVCMOS25;

#Clock board config
NET clk_board_config_sys_clk LOC=AM21  |  IOSTANDARD = LVTTL;
NET clk_board_config_radio_dat_out LOC=AN19  |  IOSTANDARD=LVTTL  |  SLEW = SLOW;
NET clk_board_config_radio_csb_out LOC=AP19  |  IOSTANDARD=LVTTL  |  SLEW = SLOW;
NET clk_board_config_radio_en_out LOC=AR19  |  IOSTANDARD=LVTTL  |  SLEW = SLOW;
NET clk_board_config_radio_clk_out LOC=AM20  |  IOSTANDARD=LVTTL  |  SLEW = SLOW;
NET clk_board_config_logic_dat_out LOC=AR21  |  IOSTANDARD=LVTTL  |  SLEW = SLOW;
NET clk_board_config_logic_csb_out LOC=AL21  |  IOSTANDARD=LVTTL  |  SLEW = SLOW;
NET clk_board_config_logic_en_out LOC=AK21  |  IOSTANDARD=LVTTL  |  SLEW = SLOW;
NET clk_board_config_logic_clk_out LOC=AN22  |  IOSTANDARD=LVTTL  |  SLEW = SLOW;

NET FPGA_EEPROM_IO LOC=AH22  |  IOSTANDARD = LVTTL  |  SLEW = SLOW  |  DRIVE = 8;

#RF A (Radio Board in daughtercard slot 2)
NET RFA_RSSI_ADC_CLK LOC=AF5  |  IOSTANDARD=LVTTL;
NET RFA_DAC_I<0> LOC=AP4  |  IOSTANDARD = LVTTL;
NET RFA_DAC_I<1> LOC=AR3  |  IOSTANDARD = LVTTL;
NET RFA_DAC_I<2> LOC=AT4  |  IOSTANDARD = LVTTL;
NET RFA_DAC_I<3> LOC=AR4  |  IOSTANDARD = LVTTL;
NET RFA_DAC_I<4> LOC=AT5  |  IOSTANDARD = LVTTL;
NET RFA_DAC_I<5> LOC=AN3  |  IOSTANDARD = LVTTL;
NET RFA_DAC_I<6> LOC=AT3  |  IOSTANDARD = LVTTL;
NET RFA_DAC_I<7> LOC=AU5  |  IOSTANDARD = LVTTL;
NET RFA_DAC_I<8> LOC=AM7  |  IOSTANDARD = LVTTL;
NET RFA_DAC_I<9> LOC=AU6  |  IOSTANDARD = LVTTL;
NET RFA_DAC_I<10> LOC=AP5  |  IOSTANDARD = LVTTL;
NET RFA_DAC_I<11> LOC=AN5  |  IOSTANDARD = LVTTL;
NET RFA_DAC_I<12> LOC=AT6  |  IOSTANDARD = LVTTL;
NET RFA_DAC_I<13> LOC=AM6  |  IOSTANDARD = LVTTL;
NET RFA_DAC_I<14> LOC=AL6  |  IOSTANDARD = LVTTL;
NET RFA_DAC_I<15> LOC=AL8  |  IOSTANDARD = LVTTL;
NET RFA_DAC_Q<0> LOC=AF8  |  IOSTANDARD = LVTTL;
NET RFA_DAC_Q<1> LOC=AF9  |  IOSTANDARD = LVTTL;
NET RFA_DAC_Q<2> LOC=AH8  |  IOSTANDARD = LVTTL;
NET RFA_DAC_Q<3> LOC=AG7  |  IOSTANDARD = LVTTL;
NET RFA_DAC_Q<4> LOC=AJ6  |  IOSTANDARD = LVTTL;
NET RFA_DAC_Q<5> LOC=AN4  |  IOSTANDARD = LVTTL;
NET RFA_DAC_Q<6> LOC=AG8  |  IOSTANDARD = LVTTL;
NET RFA_DAC_Q<7> LOC=AM5  |  IOSTANDARD = LVTTL;
NET RFA_DAC_Q<8> LOC=AJ5  |  IOSTANDARD = LVTTL;
NET RFA_DAC_Q<9> LOC=AK6  |  IOSTANDARD = LVTTL;
NET RFA_DAC_Q<10> LOC=AH7  |  IOSTANDARD = LVTTL;
NET RFA_DAC_Q<11> LOC=AJ4  |  IOSTANDARD = LVTTL;
NET RFA_DAC_Q<12> LOC=AL4  |  IOSTANDARD = LVTTL;
NET RFA_DAC_Q<13> LOC=AB15  |  IOSTANDARD = LVTTL;
NET RFA_DAC_Q<14> LOC=AC14  |  IOSTANDARD = LVTTL;
NET RFA_DAC_Q<15> LOC=AK4  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_I<0> LOC=V14  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_I<1> LOC=U15  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_I<2> LOC=W6  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_I<3> LOC=AG18  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_I<4> LOC=V15  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_I<5> LOC=V5  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_I<6> LOC=AA10  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_I<7> LOC=Y11  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_I<8> LOC=AA9  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_I<9> LOC=V7  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_I<10> LOC=U6  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_I<11> LOC=AB11  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_I<12> LOC=W4  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_I<13> LOC=V12  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_Q<0> LOC=AB7  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_Q<1> LOC=AE7  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_Q<2> LOC=AC7  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_Q<3> LOC=AC5  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_Q<4> LOC=AE4  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_Q<5> LOC=AD4  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_Q<6> LOC=AD7  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_Q<7> LOC=AD6  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_Q<8> LOC=W14  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_Q<9> LOC=U5  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_Q<10> LOC=W5  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_Q<11> LOC=AA11  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_Q<12> LOC=W9  |  IOSTANDARD = LVTTL;
NET RFA_RX_ADC_Q<13> LOC=Y12  |  IOSTANDARD = LVTTL;
NET RFA_B<0> LOC=AA4  |  IOSTANDARD = LVTTL;
NET RFA_B<1> LOC=AH5  |  IOSTANDARD = LVTTL;
NET RFA_B<2> LOC=Y4  |  IOSTANDARD = LVTTL;
NET RFA_B<3> LOC=V17  |  IOSTANDARD = LVTTL;
NET RFA_B<4> LOC=AC3  |  IOSTANDARD = LVTTL;
NET RFA_B<5> LOC=Y6  |  IOSTANDARD = LVTTL;
NET RFA_B<6> LOC=AH4  |  IOSTANDARD = LVTTL;
NET RFA_ANTSW<0> LOC=U3  |  IOSTANDARD=LVTTL;
NET RFA_ANTSW<1> LOC=Y7  |  IOSTANDARD=LVTTL;
NET RFA_LEDS<0> LOC=AA8  |  IOSTANDARD=LVTTL;
NET RFA_LEDS<1> LOC=W10  |  IOSTANDARD=LVTTL;
NET RFA_LEDS<2> LOC=V4  |  IOSTANDARD=LVTTL;
NET RFA_DIPSW<0> LOC=Y13  |  IOSTANDARD=LVTTL;
NET RFA_DIPSW<1> LOC=AH3  |  IOSTANDARD=LVTTL;
NET RFA_DIPSW<2> LOC=W15  |  IOSTANDARD=LVTTL;
NET RFA_DIPSW<3> LOC=AA13  |  IOSTANDARD=LVTTL;
NET RFA_RSSI_ADC_D<0> LOC=AD10  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFA_RSSI_ADC_D<1> LOC=AD11  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFA_RSSI_ADC_D<2> LOC=AE3  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFA_RSSI_ADC_D<3> LOC=AC13  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFA_RSSI_ADC_D<4> LOC=AF3  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFA_RSSI_ADC_D<5> LOC=AM3  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFA_RSSI_ADC_D<6> LOC=AG10  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFA_RSSI_ADC_D<7> LOC=AF10  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFA_RSSI_ADC_D<8> LOC=AL5  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFA_RSSI_ADC_D<9> LOC=AM8  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFA_EEPROM_IO LOC=AE6  |  IOSTANDARD=LVTTL  |  SLEW = SLOW  |  DRIVE = 8;
NET RFA_SPI_SCLK LOC=AB12  |  IOSTANDARD=LVTTL;
NET RFA_SPI_MOSI LOC=AG3  |  IOSTANDARD=LVTTL;
NET RFA_SPI_CSn LOC=AE8  |  IOSTANDARD=LVTTL;
NET RFA_SHDN LOC=AB3  |  IOSTANDARD=LVTTL;
NET RFA_TxEn LOC=W16  |  IOSTANDARD=LVTTL;
NET RFA_RxEn LOC=AB10  |  IOSTANDARD=LVTTL;
NET RFA_RxHP LOC=AC4  |  IOSTANDARD=LVTTL;
NET RFA_PAEn_24 LOC=W7  |  IOSTANDARD=LVTTL;
NET RFA_PAEn_5 LOC=AC8  |  IOSTANDARD=LVTTL;
NET RFA_RX_ADC_DCS LOC=AA5  |  IOSTANDARD=LVTTL;
NET RFA_RX_ADC_DFS LOC=AF4  |  IOSTANDARD=LVTTL;
NET RFA_RX_ADC_I_PWDN LOC=Y8  |  IOSTANDARD=LVTTL;
NET RFA_RX_ADC_Q_PWDN LOC=AA14  |  IOSTANDARD=LVTTL;
NET RFA_RSSI_ADC_CLAMP LOC=AB13  |  IOSTANDARD=LVTTL;
NET RFA_RSSI_ADC_HIZ LOC=AK3  |  IOSTANDARD=LVTTL;
NET RFA_RSSI_ADC_SLEEP LOC=AH9  |  IOSTANDARD=LVTTL;
NET RFA_LD LOC=AD9  |  IOSTANDARD=LVTTL;
NET RFA_RX_ADC_I_OTR LOC=V13  |  IOSTANDARD=LVTTL;
NET RFA_RX_ADC_Q_OTR LOC=Y9  |  IOSTANDARD=LVTTL;
NET RFA_DAC_PLLLOCK LOC=AL3  |  IOSTANDARD=LVTTL;
NET RFA_DAC_RESET LOC=AC10  |  IOSTANDARD=LVTTL;
NET RFA_DAC_SPI_MOSI LOC=AC9  |  IOSTANDARD=LVTTL;
NET RFA_DAC_SPI_MISO LOC=AJ7  |  IOSTANDARD=LVTTL;
NET RFA_DAC_SPI_CSn LOC=AK8  |  IOSTANDARD=LVTTL;
NET RFA_DAC_SPI_SCLK LOC=AK7  |  IOSTANDARD=LVTTL;

#RF B (Radio Board in daughtercard slot 3)
NET RFB_RSSI_ADC_CLK LOC=AD32  |  IOSTANDARD=LVTTL;
NET RFB_DAC_I<0> LOC=AB35  |  IOSTANDARD = LVTTL;
NET RFB_DAC_I<1> LOC=AC34  |  IOSTANDARD = LVTTL;
NET RFB_DAC_I<2> LOC=AA30  |  IOSTANDARD = LVTTL;
NET RFB_DAC_I<3> LOC=Y27  |  IOSTANDARD = LVTTL;
NET RFB_DAC_I<4> LOC=AB31  |  IOSTANDARD = LVTTL;
NET RFB_DAC_I<5> LOC=N37  |  IOSTANDARD = LVTTL;
NET RFB_DAC_I<6> LOC=AA31  |  IOSTANDARD = LVTTL;
NET RFB_DAC_I<7> LOC=R34  |  IOSTANDARD = LVTTL;
NET RFB_DAC_I<8> LOC=AC32  |  IOSTANDARD = LVTTL;
NET RFB_DAC_I<9> LOC=Y32  |  IOSTANDARD = LVTTL;
NET RFB_DAC_I<10> LOC=AD35  |  IOSTANDARD = LVTTL;
NET RFB_DAC_I<11> LOC=Y34  |  IOSTANDARD = LVTTL;
NET RFB_DAC_I<12> LOC=P37  |  IOSTANDARD = LVTTL;
NET RFB_DAC_I<13> LOC=R36  |  IOSTANDARD = LVTTL;
NET RFB_DAC_I<14> LOC=T35  |  IOSTANDARD = LVTTL;
NET RFB_DAC_I<15> LOC=Y33  |  IOSTANDARD = LVTTL;
NET RFB_DAC_Q<0> LOC=V34  |  IOSTANDARD = LVTTL;
NET RFB_DAC_Q<1> LOC=AC35  |  IOSTANDARD = LVTTL;
NET RFB_DAC_Q<2> LOC=V33  |  IOSTANDARD = LVTTL;
NET RFB_DAC_Q<3> LOC=Y36  |  IOSTANDARD = LVTTL;
NET RFB_DAC_Q<4> LOC=U37  |  IOSTANDARD = LVTTL;
NET RFB_DAC_Q<5> LOC=AB36  |  IOSTANDARD = LVTTL;
NET RFB_DAC_Q<6> LOC=U35  |  IOSTANDARD = LVTTL;
NET RFB_DAC_Q<7> LOC=Y37  |  IOSTANDARD = LVTTL;
NET RFB_DAC_Q<8> LOC=W37  |  IOSTANDARD = LVTTL;
NET RFB_DAC_Q<9> LOC=AA34  |  IOSTANDARD = LVTTL;
NET RFB_DAC_Q<10> LOC=W36  |  IOSTANDARD = LVTTL;
NET RFB_DAC_Q<11> LOC=AA35  |  IOSTANDARD = LVTTL;
NET RFB_DAC_Q<12> LOC=W30  |  IOSTANDARD = LVTTL;
NET RFB_DAC_Q<13> LOC=W32  |  IOSTANDARD = LVTTL;
NET RFB_DAC_Q<14> LOC=V35  |  IOSTANDARD = LVTTL;
NET RFB_DAC_Q<15> LOC=W34  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_I<0> LOC=AM33  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_I<1> LOC=AF33  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_I<2> LOC=AG31  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_I<3> LOC=AM22  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_I<4> LOC=AH30  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_I<5> LOC=AG32  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_I<6> LOC=AF31  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_I<7> LOC=AH34  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_I<8> LOC=AK32  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_I<9> LOC=AF34  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_I<10> LOC=AN34  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_I<11> LOC=AJ36  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_I<12> LOC=AN33  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_I<13> LOC=AH35  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_Q<0> LOC=AA26  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_Q<1> LOC=AE29  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_Q<2> LOC=AA29  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_Q<3> LOC=AD29  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_Q<4> LOC=AB26  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_Q<5> LOC=AB27  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_Q<6> LOC=AA28  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_Q<7> LOC=AC28  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_Q<8> LOC=AL34  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_Q<9> LOC=AJ34  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_Q<10> LOC=AK33  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_Q<11> LOC=AK34  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_Q<12> LOC=AJ35  |  IOSTANDARD = LVTTL;
NET RFB_RX_ADC_Q<13> LOC=AG33  |  IOSTANDARD = LVTTL;
NET RFB_B<0> LOC=AG28  |  IOSTANDARD = LVTTL;
NET RFB_B<1> LOC=AC24  |  IOSTANDARD = LVTTL;
NET RFB_B<2> LOC=AD31  |  IOSTANDARD = LVTTL;
NET RFB_B<3> LOC=AA24  |  IOSTANDARD = LVTTL;
NET RFB_B<4> LOC=AG30  |  IOSTANDARD = LVTTL;
NET RFB_B<5> LOC=AB23  |  IOSTANDARD = LVTTL;
NET RFB_B<6> LOC=AH29  |  IOSTANDARD = LVTTL;
NET RFB_ANTSW<0> LOC=AN37  |  IOSTANDARD=LVTTL;
NET RFB_ANTSW<1> LOC=AJ37  |  IOSTANDARD=LVTTL;
NET RFB_LEDS<0> LOC=AL35  |  IOSTANDARD=LVTTL;
NET RFB_LEDS<1> LOC=AE33  |  IOSTANDARD=LVTTL;
NET RFB_LEDS<2> LOC=AM35  |  IOSTANDARD=LVTTL;
NET RFB_DIPSW<0> LOC=AG36  |  IOSTANDARD=LVTTL;
NET RFB_DIPSW<1> LOC=AG37  |  IOSTANDARD=LVTTL;
NET RFB_DIPSW<2> LOC=T34  |  IOSTANDARD=LVTTL;
NET RFB_DIPSW<3> LOC=AH37  |  IOSTANDARD=LVTTL;
NET RFB_RSSI_ADC_D<0> LOC=P35  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFB_RSSI_ADC_D<1> LOC=AB28  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFB_RSSI_ADC_D<2> LOC=M36  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFB_RSSI_ADC_D<3> LOC=AF35  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFB_RSSI_ADC_D<4> LOC=L36  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFB_RSSI_ADC_D<5> LOC=M37  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFB_RSSI_ADC_D<6> LOC=R37  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFB_RSSI_ADC_D<7> LOC=P36  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFB_RSSI_ADC_D<8> LOC=AE34  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFB_RSSI_ADC_D<9> LOC=Y31  |  IOSTANDARD=LVTTL  |  PULLDOWN;
NET RFB_EEPROM_IO LOC=AE32  |  IOSTANDARD=LVTTL  |  SLEW = SLOW  |  DRIVE = 8;
NET RFB_SPI_SCLK LOC=AC37  |  IOSTANDARD=LVTTL;
NET RFB_SPI_MOSI LOC=AD37  |  IOSTANDARD=LVTTL;
NET RFB_SPI_CSn LOC=AF36  |  IOSTANDARD=LVTTL;
NET RFB_SHDN LOC=AD27  |  IOSTANDARD=LVTTL;
NET RFB_TxEn LOC=AE37  |  IOSTANDARD=LVTTL;
NET RFB_RxEn LOC=Y26  |  IOSTANDARD=LVTTL;
NET RFB_RxHP LOC=AC25  |  IOSTANDARD=LVTTL;
NET RFB_PAEn_24 LOC=AM36  |  IOSTANDARD=LVTTL;
NET RFB_PAEn_5 LOC=AN35  |  IOSTANDARD=LVTTL;
NET RFB_RX_ADC_DCS LOC=AF28  |  IOSTANDARD=LVTTL;
NET RFB_RX_ADC_DFS LOC=AD34  |  IOSTANDARD=LVTTL;
NET RFB_RX_ADC_I_PWDN LOC=AK36  |  IOSTANDARD=LVTTL;
NET RFB_RX_ADC_Q_PWDN LOC=AE28  |  IOSTANDARD=LVTTL;
NET RFB_RSSI_ADC_CLAMP LOC=K36  |  IOSTANDARD=LVTTL;
NET RFB_RSSI_ADC_HIZ LOC=W29  |  IOSTANDARD=LVTTL;
NET RFB_RSSI_ADC_SLEEP LOC=K37  |  IOSTANDARD=LVTTL;
NET RFB_LD LOC=AB37  |  IOSTANDARD=LVTTL;
NET RFB_RX_ADC_I_OTR LOC=AM37  |  IOSTANDARD=LVTTL;
NET RFB_RX_ADC_Q_OTR LOC=AL36  |  IOSTANDARD=LVTTL;
NET RFB_DAC_PLLLOCK LOC=AG35  |  IOSTANDARD=LVTTL;
NET RFB_DAC_RESET LOC=AE36  |  IOSTANDARD=LVTTL;
NET RFB_DAC_SPI_MOSI LOC=T36  |  IOSTANDARD=LVTTL;
NET RFB_DAC_SPI_MISO LOC=AD36  |  IOSTANDARD=LVTTL;
NET RFB_DAC_SPI_CSn LOC=W35  |  IOSTANDARD=LVTTL;
NET RFB_DAC_SPI_SCLK LOC=AA36  |  IOSTANDARD=LVTTL;

#### Timing Constraints
# TriMode_MAC_GMII

NET "*tx_gmii_mii_clk_in_0*"    TNM_NET = "clk_phy_tx_clk0";
NET "*tx_gmii_mii_clk_out_0*"   TNM_NET = "clk_phy_tx_clk0";
TIMESPEC "TS_phy_tx_clk0"     = PERIOD "clk_phy_tx_clk0" 7700 ps HIGH 50 %;

NET "*gmii_rx_clk_0*"         TNM_NET = "clk_phy_rx_clk0";
NET "*gmii_rx_clk_delay_0*"   TNM_NET = "clk_phy_rx_clk0";
NET "*gmii_rx_clk_ibufg_0*"   TNM_NET = "clk_phy_rx_clk0";
TIMESPEC "TS_phy_rx_clk0"     = PERIOD "clk_phy_rx_clk0" 7700 ps HIGH 50 %;

NET "*tx_client_clk_in_0*"      TNM_NET = "clk_client_tx_clk0";
NET "*tx_client_clk_out_0*"     TNM_NET = "clk_client_tx_clk0";
TIMESPEC "TS_client_tx_clk0"            = PERIOD "clk_client_tx_clk0" 7700 ps HIGH 50 %;

NET "*rx_client_clk_in_0*"      TNM_NET = "clk_client_rx_clk0";
NET "*rx_client_clk_out_0*"     TNM_NET = "clk_client_rx_clk0";
TIMESPEC "TS_client_rx_clk0"            = PERIOD "clk_client_rx_clk0" 7700 ps HIGH 50 %;

NET "*mii_tx_clk_0*"            TNM_NET = "clk_mii_tx_clk0";
TIMESPEC "TS_mii_tx_clk0"               = PERIOD "clk_mii_tx_clk0" 25000 ps HIGH 50 %;


#################### EMAC 0 GMII Constraints ########################
INST "*mii0?RXD_TO_MAC*"    IOB = true;
INST "*mii0?RX_DV_TO_MAC"   IOB = true;
INST "*mii0?RX_ER_TO_MAC"   IOB = true;

INST "*gmii0/*gmii_rxd?_delay"    IOBDELAY_TYPE = FIXED;
INST "*gmii0/*gmii_rx_dv_delay"   IOBDELAY_TYPE = FIXED;
INST "*gmii0/*gmii_rx_er_delay"   IOBDELAY_TYPE = FIXED;
INST "*gmii0/*gmii_rxd?_delay"    IOBDELAY_VALUE = 0;
INST "*gmii0/*gmii_rx_dv_delay"   IOBDELAY_VALUE = 0;
INST "*gmii0/*gmii_rx_er_delay"   IOBDELAY_VALUE = 0;
INST "*gmii_rx_clk_0_delay"       IOBDELAY_TYPE = FIXED;
INST "*gmii_rx_clk_0_delay"       IOBDELAY_VALUE = 30;

INST "ETH_GMII_TXD<?>"     TNM = "sig_mii_tx_0";
INST "ETH_GMII_TX_EN"      TNM = "sig_mii_tx_0";
INST "ETH_GMII_TX_ER"      TNM = "sig_mii_tx_0";

INST "ETH_GMII_RXD<?>"     TNM = "sig_mii_rx_0";
INST "ETH_GMII_RX_DV"      TNM = "sig_mii_rx_0";
INST "ETH_GMII_RX_ER"      TNM = "sig_mii_rx_0";

# Need to TIG between the LocalLink clock and the rx_client and tx_client clocks
NET "*/LlinkTemac0_CLK*" TNM_NET = "LLCLK";
TIMESPEC "TS_LL_CLK_2_RX_CLIENT_CLK"  = FROM LLCLK TO clk_client_rx_clk0 8000 ps DATAPATHONLY;
TIMESPEC "TS_LL_CLK_2_TX_CLIENT_CLK"  = FROM LLCLK TO clk_client_tx_clk0 8000 ps DATAPATHONLY;
TIMESPEC "TS_RX_CLIENT_CLK_2_LL_CLK"  = FROM clk_client_rx_clk0 TO LLCLK 10000 ps DATAPATHONLY;
TIMESPEC "TS_TX_CLIENT_CLK_2_LL_CLK"  = FROM clk_client_tx_clk0 TO LLCLK 10000 ps DATAPATHONLY;



###### ppc405_0
NET "ppc405_0/C405RSTCHIPRESETREQ" TPTHRU = "ppc405_0_RST_GRP";
NET "ppc405_0/C405RSTCORERESETREQ" TPTHRU = "ppc405_0_RST_GRP";
NET "ppc405_0/C405RSTSYSRESETREQ" TPTHRU = "ppc405_0_RST_GRP";
TIMESPEC "TS_RST_ppc405_0" = FROM CPUS THRU ppc405_0_RST_GRP TO FFS TIG;
